.page {
  display: flex;
  width: 100%;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter {
  position: fixed;
  color: white;
  font-size: 16px;
  align-items: center;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 95%;
  top: 60px;
}

.filter img {
  display: block;
  margin-left: auto;
}

.filter__category {
  background: #101112;
  border: 1px #5f5f5f solid;
  padding: 15px;
  margin-left: auto;
  max-width: 200px;
}

.filter ul {
  list-style: none;
  margin-left: 15px;
}

.filter__quality {
  margin-left: 15px;
}
.filter__type {
  margin-left: 15px;
}

.filter label {
  cursor: pointer;
}

.data__not-found {
  width: 100%;
}
